@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #f7f1c0;
}

/* home */

.sec-home {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 98px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tit-home {
  font-family: "GmarketSansMedium", sans-serif;
  font-size: 55px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 10px;
}

.subTit-home {
  color: #9b51e0;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.desc-tit {
  margin: 36px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
}

.img-mbti {
  width: 270px;
  height: 267px;
  margin-bottom: 8px;
}

.btn-start {
  width: 300px;
  height: 52px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: none;
  color: #9b51e0;
  font-size: 16px;
  font-weight: 900;
  line-height: 23px;
}

/* test */

.sec-test {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: absolute;
  margin-top: 98px;
  left: 50%;
  transform: translate(-50%);
}

.num-page {
  color: #9b51e0;
  font-size: 18px;
  margin-bottom: 12px;
  text-align: center;
}

#progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  margin-bottom: 40px;
}
#progress::-webkit-progress-bar {
  background: #ffffff;
}
#progress::-webkit-progress-value {
  background: #9b51e0;
}

.title-question {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 30px;
}

.choice {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.2rem;
}

.cont-btn {
  display: flex;
  justify-content: space-between;
}

.btn-prev,
.btn-next {
  border-radius: 10px;
  background: #9b51e0;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 40px;
  color: white;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  margin-top: 48px;
}

/* result */

.sec-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-developertype {
  width: 270px;
  height: 267px;
  margin-bottom: 36px;
}

.subtitle-developertype {
  font-size: 14px;
  margin-bottom: 1rem;
}

.title-developertype {
  font-size: 36px;
  font-weight: bold;
  color: #9b51e0;
}

.sec-result p,
.txt-desc-developertype {
  font-size: 16px;
  font-weight: bold;
}

.sec-result p {
  border-top: 2px solid #9b51e0;
  border-bottom: 2px solid #9b51e0;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
}

.list-features {
  width: 300px;
  margin-bottom: 1.5rem;
}

.list-features li::before {
  content: "\2022";
  color: #9b51e0;
  font-weight: 900;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.list-features li {
  margin-bottom: 1rem;
  line-height: 1.2rem;
}

.btn-retest {
  width: 100%;
  background-color: #ffffff;
  color: #9b51e0;
  font-weight: 900;
  font-size: 16px;
  border: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  height: 52px;
  border-radius: 10px;
}

/* loading */

#loader {
  width: 70px;
  height: 70px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  background: no-repeat center/100% url("../src/images/Loading.png");
}

@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
